/* ---------- reset ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li,
p {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
/* ---------- media ---------- */
/* @media (max-width: 768px) {
      }
      @media (min-width: 769px) {
      } */

/* ---------- layout(events) ---------- */

/* ---------- layout(project) ---------- */

.section-project {
  padding: 100px 24px;
  background-color: #673399;
}

.section-project header {
  margin-bottom: 100px;
}

.section-project .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-title {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  flex-basis: 26%;
  flex-shrink: 0;
}

.header-title .underline {
  box-shadow: inset 0 -0.4em orangered;
}

.header-dsc {
  color: #bd8fe8;
  font-size: 14px;
  max-width: 550px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-dsc::before {
  content: " ";
  width: 80px;
  height: 2px;
  flex-shrink: 0;
  margin-right: 30px;
  background-color: #bd8fe8;
}

.container-card {
  display: flex;
  background-color: white;
}
.bottom-wrapper {
}

/* 2번째 녀석 이후로 탑에 마진 주는 */
.container-card + .container-card {
  margin-top: 24px;
}

.container-card:nth-child(even) {
  flex-direction: row-reverse;
}

.card-thumbnail {
  position: relative;
  flex-basis: 26%;
  flex-shrink: 0;
}

.card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-thumbnail > h2 {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  /* top:0, right:0, bottom:0, left:0 = inset:0 */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.card-contents {
  padding: 24px;
}

.card-contents h3 {
  font-size: 18px;
  margin-bottom: 32px;
  color: #673399;
}

.contents-lists {
  font-size: 14px;
}

/* 또 다른 방법.contents-lists li + li {margin-top: 6px;} */
.contents-lists li {
  line-height: 200%;
  position: relative;
  padding-left: 20px;
}

.contents-lists li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #bd8fe8;
  top: 9px;
  left: 0px;
}

@media (max-width: 768px) {
  .section-project header {
    margin-bottom: 70px;
  }

  .container-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .header-title {
    width: 300px;
  }

  .header-dsc::before {
    display: none;
  }

  .container-card,
  .container-card:nth-child(even) {
    flex-direction: column;
  }
}
