/* ---------- reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

h1,
h2,
h3,
h4,
li,
p,
span,
button {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
button {
  background: none;
  border: none;
}

/* ---------- layout(events) ---------- */
.section-events header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.section-events .wrapper {
}
.section-events .bottom-wrapper {
  display: flex;
  gap: 24px;
}

.card-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- Style(events) ---------- */
.section-events {
  padding: 100px 24px;
  background-color: seashell;
}

.section-events .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.section-events .header-title {
  flex-basis: calc((100% - 48px) / 3);
  color: salmon;
}

.section-events .header-title strong {
  font-weight: inherit;
  box-shadow: inset 0 -20px white;
}

.header-btn {
  font-size: 14px;
  color: white;
  background-color: orangered;
  padding: 13px 17px;
  border-radius: 7px;
  box-shadow: 0 3px 0 0 rgba(186, 56, 9, 1);
  cursor: pointer;
  transition: 0.3s ease;
}

.header-btn:hover {
  filter: brightness(80%);
}

.evt-container-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-basis: 344px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.evt-container-card:hover {
  filter: brightness(80%);
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.evt-container-card .thumbnail-img {
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid black;
  position: relative;
}

.evt-container-card .thumbnail-badge {
  position: absolute;
  margin-top: -9px;
  margin-left: -9px;
  /* transform: translate(-9px, -9px); */
}

.evt-container-card .card-contents {
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-tag span {
  color: #673399;
  background-color: #f1e0f8;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  padding: 2px 7px 4px;
}

.card-tag span + span {
  margin-left: 5px;
}

.card-contents .card-title {
  font-size: 24px;
  margin: 24px 0 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-contents .card-dsc {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(69, 69, 69);
  flex-grow: 1;
  flex-shrink: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-detail {
  border-top: 4px solid #eeeeee;
  margin-left: 24px;
  height: 68px;
  position: relative;
}

.card-detail .detail-text {
  font-size: 12px;
}

.card-detail .detail-people {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
}

.detail-people .detail-img {
  width: 30px;
  border-radius: 20px;
  margin-left: -15px;
  outline: 3px solid white;
}

/* ---------- layout(project) ---------- */
.section-project {
  padding: 100px 24px;
  background-color: #673399;
}

.section-project header {
  margin-bottom: 100px;
}

.section-project .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  align-items: center;
}

/* ---------- Style(project) ---------- */
.header-title {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  flex-basis: 26%;
  flex-shrink: 0;
}

.header-title .underline {
  box-shadow: inset 0 -0.4em orangered;
}

.header-dsc {
  color: #bd8fe8;
  font-size: 14px;
  max-width: 550px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-dsc::before {
  content: " ";
  width: 80px;
  height: 2px;
  flex-shrink: 0;
  margin-right: 30px;
  background-color: #bd8fe8;
}

.container-card {
  display: flex;
  gap: 0;
  background-color: white;
  transition: 0.3s ease;
}

/* .container-card:hover {
  filter: brightness(80%);
  box-shadow: 6px 6px 6px #673399;
} */

/* 2번째 녀석 이후로 탑에 마진 주는 */
.container-card + .container-card {
  margin-top: 24px;
}

.container-card:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card-thumbnail {
  position: relative;
  flex-basis: 26%;
  flex-shrink: 0;
}

.card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-thumbnail > h3 {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  /* top:0, right:0, bottom:0, left:0 = inset:0 */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.card-contents {
  padding: 24px;
}

.card-contents h4 {
  font-size: 18px;
  margin-bottom: 32px;
  color: #673399;
}

.contents-lists {
  font-size: 14px;
}

/* 또 다른 방법.contents-lists li + li {margin-top: 6px;} */
.contents-lists li {
  font-weight: 500;
  color: rgb(69, 69, 69);
  position: relative;
  padding-left: 20px;
}
.contents-lists li + li {
  margin-top: 1em;
}

.contents-lists li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #bd8fe8;
  top: 0.25em;
  /* li패딩 20px 준것의 왼쪽에 딱붙게, left값이 있어야함, 없으면 absolute상태에서 left위치 지정이 안된걸로 처리됨*/
  left: 0;
}

@media (min-width: 822px) and (max-width: 1145px) {
  .evt-container-card:nth-child(3) .card-title {
    margin-bottom: 60.95px;
  }
}

@media (max-width: 780px) {
  /* ---------- Common ---------- */

  .section-events,
  .section-project {
    padding: 80px 24px 100px;
  }

  .section-project header,
  .section-events header {
    margin-bottom: 80px;
  }

  .container-header,
  .section-events .container-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .header-title {
    max-width: 350px;
  }

  /* ---------- events ---------- */
  .section-events .bottom-wrapper {
    flex-direction: column;
  }

  .evt-container-card .card-dsc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* ---------- project ---------- */
  .section-project .header-dsc::before {
    display: none;
  }

  .container-card,
  .container-card:nth-child(even) {
    flex-direction: column;
  }

  .contents-lists li {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
